body{
    background-color: gainsboro;
}
h2{
    font-size: 18px;
    margin: 0%;
}
.progress{
    width: 50%;
    float:right;
}
.panel_positive{
    margin: 0%;
    border: none;
}
#panel_offline{
    height: 285px;
}
